*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    /* Color Theme Swatches in Hex */
    --sky-1: #010A26; 
    --sky-2: #011640; 
    --sky-3: #023373; 
    --sky-4: #1B80BF; 
    --sky-5: #3BACD9;
    --color-done-task: rgb(110, 214, 110);



    
}

h1{
    position: absolute;
    top: 10%;
    color: white;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black url(img/AdobeStock_1252527609_Preview.jpeg) no-repeat center;
    background-size: cover;
    
}


h2{
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: #011640;
}
form{
    background-color: azure;
    border: var(--sky-1) 2px solid;
    border-radius: 5px;
   
    
}
#tarefa{
    font-size: 20px;
}

.btn-add{
    
    
}

.material-symbols-outlined{
   
    
    font-size: 20px !important;

}


#entrada-container{
    display: flex;
    justify-content: center;
    padding: 7px;
    font-size: 20px;
}


#lista-das-tarefas{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    margin: 5px 4px;
   

}

.loyalt{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: var(--sky-3) 1px solid;
    padding: 3px;
    width: 100%;
    width: 350px;

}

.done{
    background-color:var(--color-done-task);
    text-decoration: line-through;
}

.task-nome{
    overflow: hidden;
}

ul{
    list-style: none;
}